.profile {
  margin: 74px auto 70px;
  display: flex;
  flex-direction: column;
}

.profile__header {
  margin: 0 0 107px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;

  text-align: center;
}

.profile__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 410px;
}

.profile__form-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.profile__form-wrap:last-of-type {
  border-bottom: none;
}

.profile__label {
  margin: 17px 0;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.2;
}

.profile__buttons {
  list-style: none;
}

.profile__form-input {
  margin: 0;
  padding: 0;
  text-align: end;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;

  border: none;
  background: transparent;
}

.profile__buttons {
  margin: 202px 0 0;
  padding: 0;
}

.profile__edit-button {
  margin: 0 auto 14px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;

  width: 100%;
  padding: 0;
  background: none;
  border: none;
}

.profile__exit-button {
  margin: 0 auto;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;

  width: 100%;
  padding: 0;
  background: none;
  border: none;

  color: #FF4062;
}

.profile__buttons_type_save {
  display: none;
  margin: 205px 0 0;
  padding: 13px 0 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;

  background-color: #3456F3;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.profile__error {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 172px;
}

.profile__buttons_type_error {
  margin: 0;
  padding: 13px 0 15px;
  width: 100%;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;

  background-color: #F8F8F8;
  color: #C2C2C2;
  border: none;
  border-radius: 3px;
}

.profile__error-span {
  margin: 0;
  color: #FF004C;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
}