.notfound {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.notfound__container {
  max-width: 400px;
  margin-top: 246px;
}

.notfound__header {
  margin: 0;

  font-weight: 400;
  font-size: 140px;
  line-height: 1.2;
}

.notfound__subtitle {
  margin: 5px 0 184px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.notfound__link {
  margin: 0;
  color: #000;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .notfound__container {
    margin-top: 408px;
    margin-bottom: 222px;
  }
}

@media screen and (max-width: 420px) {
  .notfound__container {
    max-width: 300px;
    margin-top: 329px;
  }

  .notfound__header {
    font-size: 80px;
  }

  .notfound__subtitle {
    margin: 10px 0 284px;
    font-size: 12px;
  }

  .notfound__link {
    font-size: 12px;
  }
}